.lmj-Banner{
    position: relative;
    margin-top: 50px;
 }
 
 .lmj-Banner-image{
     width: 100%;
     height: 200px;
     border-radius: 15px;
     filter: brightness(70%);
     object-fit: fill;
 }
 
 .lmj-Banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
 }

@media only screen and (min-width: 320px) and (max-width: 523px) {
    .lmj-Banner {
        display: flex;
        margin-top: 15px;
        justify-content: center;
        
        }
            .lmj-Banner-image{
                display: flex;
                height: 130px;
            }
            
            .lmj-Banner-text {
            display: flex;
            text-align: start;
            width: 190px;
            left: 42%;
            font-size: 24px;
            }
            .lmj-Banner-container{
                margin: 0px 0px 20px 0px;
            }
            
}