* {
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

:root {
  --main-color : #FE6767
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0px auto;
  max-width: 1440px;
  min-height: 100vh;
  position: relative;
  color: #FE6767
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@media screen and (min-width: 767px) and (max-width: 991px) {
  body {
    max-width: 688px;
  }
}

@media screen and (min-width: 900px) {
  body {
    max-width: 1040px;
  }
}



@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
}


