.lmj-ContainerLoc{
    border-radius: 10px;
    display: flex;
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
/* .lmj-ContainerLoc-Liste{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px;
    gap: 30px;
} */
@media only screen and (min-width: 1200px) {
    .lmj-ContainerLoc-Liste{
        -webkit-column-gap: 60px;
        column-gap: 60px;
        row-gap: 40px;
    }
}

@media only screen and (min-width: 992px) { 
    .lmj-ContainerLoc-Liste{
        grid-column-gap: 50px;
        grid-row-gap: 30px;
        background: #f7f7f7;
        border-radius: 25px;
        -webkit-column-gap: 50px;
        column-gap: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 40px;
        padding: 50px;
        row-gap: 30px;
    }
}
@media only screen and (min-width: 768px) {
    .lmj-ContainerLoc-Liste{
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        -webkit-column-gap: 40px;
        column-gap: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 40px;
        row-gap: 20px;
    }
}
