.lmj-appartement-page{
    width: 100%;
}

.lmj-appartement-page-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 15px;
}

.lmj-appartement-page-scrolling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.lmj-appartement-page-scrolling span{
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 25px;
    
}