.lmj-appartement-page{
    width: 100%;
}

.lmj-appartement-page-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 15px;
}

.lmj-appartement-title{
    margin-top: 30px;
    font-size: small;
}

.lmj-appartement-title-subtitle{
    font-weight: 100;
    font-size: medium;
    margin-top: 5px;
}

.lmj-appartement-title-subtitle-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.lmj-appartement-title-subtitle-description-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

.lmj-appartement-title-subtitle-description-coponent{
    background-color: var(--main-color) ;
    color: white;
    width: 80px;
    border-radius: 8px;
    text-align: center;
    height: fit-content;
    padding: 3px;
}

.lmj-appartement-host{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.lmj-appartement-host-note{
    margin-top: 15px;
    object-fit: cover;
}

.lmj-appartement-host-description {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lmj-appartement-host-description-image{
    width: 50px;
    border-radius: 25px;
}

.lmj-appartement-page-scrolling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.lmj-appartement-page-scrolling span{
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 25px;
    
}