.lmj-ContainerCard{
    display: flex;
    background: #f7f7f7;
    margin-top: 50px;
    width: 100%;
    border-radius: 15px;
}

.lmj-ContainerCard-image{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px 55px;
}

@media only screen and (min-width: 1200px) {
    .lmj-ContainerCard{
    }
}

@media only screen and (min-width: 320px) and (max-width: 523px) { 
    .lmj-ContainerCard{
        margin-top: 0px;
        background-color: transparent;
    }
    
    .lmj-ContainerCard-image{
        display: grid;
        padding: 0px;
        gap: 20px;
    }
}


