.lmj-appartement-title {
    margin-top: 30px;
    font-size: small;
}

.lmj-appartement-title-subtitle {
    font-weight: 530;
    font-size: medium;
    margin-top: 5px;
}

.lmj-appartement-title-subtitle-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.lmj-appartement-title-subtitle-description-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

.lmj-appartement-title-subtitle-description-coponent {
    background-color: var(--main-color);
    color: white;
    width: 130px;
    border-radius: 8px;
    text-align: center;
    height: 22px;
    padding-top: 8px;
}

.lmj-appartement-host {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.lmj-appartement-host-note {
    margin-top: 15px;
    object-fit: cover;
}

.lmj-appartement-host-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    font-weight: 100;
}

.lmj-appartement-host-description h3 {
    font-weight: 100;
}

.lmj-appartement-host-description-image {
    width: 50px;
    border-radius: 25px;
}

.lmj-appartement-title-h1 {
    display: flex;
    justify-content: space-between;
}

.lmj-appartement-title-h1 h1{
    font-weight: 100;
}
@media screen and (min-width: 419px) and (max-width: 689px) {
    .lmj-appartement-host-description {
            position: relative;
            top: 67px;
            left: 75%;
            margin: 0;
        }
                .lmj-appartement-title-subtitle-description {
                    position: relative;
                    top: -46px;
                    margin: 0;
                }
}

@media screen and (min-width: 320px) and (max-width: 418px) {
    .lmj-appartement-host-description {
        position: relative;
        top: 109px;
        left: 68%;
        margin: 0;
    }
    .lmj-appartement-title-subtitle-description{
        position: relative;
        top: -46px;
        margin: 0;
    }

    .lmj-appartement-title-h1{

    }
}

@media screen and (min-width: 900px) {
    body {}
}



@media screen and (min-width: 1440px) {
    body {}
}