
@keyframes slide {
    0% {
        overflow: hidden;
        max-height: 0%;
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    50% {
        max-height: 50%;
    }

    100% {
        max-height: 100%;
    }
}



.lmg-page_collapses{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.lmg-page_collapses_content{
    display: flex;
    width: 100%;
    max-width: 500px;
}

.lmg-collapse_header {
    width: 100%;
    max-width: 600px;
    height: fit-content;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--main-color);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
}
.lmg-collapse_header_title {
    padding: 0.4rem 0.5rem;
    margin: 0;
    font-size: 18px;
    font-weight: 100;
}

.lmg-collapse_header_icon {
    padding: 0.4rem 0.5rem;
    font-size: 20px;
}

.lmg-collapse_content {
    width: 467px;
    white-space: normal;
    position: relative;
    z-index: -1;
    padding: 0.8rem 1rem;
    margin-top: -1.2rem;
    background-color: #e3e3e32a;
    margin-bottom: 1rem;
    border-radius: 0 0 0.3rem 0.3rem;
    font-size: 16px;
    line-height: 23px;
    animation: slide 1.3s ease-in;
}

@media screen and (min-width: 320px) and (max-width: 718px) {
    .lmg-page_collapses {
        position: relative;
        top: 47px;
        justify-content: center;
    }
   
}

@media(max-width: 768px) {
    .lmg-collapse_content {
        animation: slide 2s ease-in-out;
    }
}