.lmj-Footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    margin-top: 50px;
    padding-top: 50px;
    gap: 20px;
    border-radius: 15px 15px 0px 0px;

}