
@media(max-width: 768px) {
    .lmj-errorPage-title {
        font-size: 160px !important;
    }

  .lmg-error-page-link{
        margin-top: 5rem !important;
    }
}

.lmg-error-page-link{
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.lmj-errorPage-title {
    display: flex;
    font-size: 250px;
    margin: 0;
    justify-content: center;
}

.lmj-errorPage-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.7rem;
    text-decoration: underline;
}