.lmj-logo-navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.lmj-logo-navBar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.lmj-logo-navBar a {
    color: #FE6767;
}

.lmj-logo-navBar a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 523px) {
    .lmj-Banner {
        margin-top: 10px;
    }

    .lmj-logo-navBar {
        font-size: 13px;       
    }

    .lmj-logo-navBar img {
        width: 104px;
    }
    .lmj-logo-navBar ul{
        gap: 10px;
    }

}