.lmg-Rating-Stars{
    display: flex ;
    align-items: center;
}

.lmg-Rating-Stars-Empty{
    width: 16px;
    height: 20px;
    object-fit: contain;
}

@media screen and (min-width: 320px) and (max-width: 502px) {
    .lmg-Rating-Stars {
        position: relative;
    }
}

@media screen and (min-width: 510px) and (max-width: 700px) {
    .lmg-Rating-Stars {
        position: relative;
        top: 50px;
        right: 27rem;
    }
}