.lmg-Rating-Stars{
    display: flex ;
    align-items: center;
    gap: 12px;
}

.lmg-Rating-Stars-Empty{
    width: 18px;
    height: 23px;
    object-fit: contain;
}

@media screen and (min-width: 373px) and (max-width: 418px) {
    .lmg-Rating-Stars {
        position: relative;
        top: 50px;
        right: 390%;
    }
}

