.lmj-image-banner {
    margin-top: 30px;
    margin-bottom: 2rem;
    width: 100%;
}

.lmj-image-banner-container{
    height: 20rem;
    position: relative;
    width: 100%;
}

.lmj-image-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgb(149, 157, 165 / 20%) 0px 8px 24px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.lmj-image-banner .show {
    opacity: 1;
}

.lmj-btn-previous {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    border: none;
    opacity: 0;
}

.lmj-btn-previous:hover{
    opacity: 1;
}

.lmj-btn-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 5rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    border: none;
    opacity: 0;
}
.lmj-btn-next:hover {
    opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 523px) {

    .lmj-image-banner {
        margin-top: 20px;
        margin-bottom: 0;
    }
}